/*
*/

* { box-sizing: border-box; }

@font-face { 
	font-family: 'Glyphicons Halflings'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('glyphicons-halflings-regular.woff'); 
}

svg text {
	font-family: 'Glyphicons Halflings';
}

path.shape {
	fill: none;
	stroke: #200;
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

grid {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}

#main {
	afloat: left;
}

#palette {
	afloat: left;
	fill: #fed;
	stroke: #ccc;
}
#statusline {
	afloat:left; 
	margin-left:25px;
}

#printer {
	margin: 20px 0 0;
	padding: 10px 20px;
	width: 501px;
	height: 71px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 8px;
}


/*

@font-face { 
	font-family: 'FontAwesome'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('fontawesome.woff'); 
}

svg text {
   font-family: FontAwesome;
}

@font-face { 
	font-family: 'Glyphicons Halflings'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('glyphicons-halflings-regular.woff'); 
}

svg text {
	font-family: 'Glyphicons Halflings';
}

	float: right;

path_old {
	fill: none;
	stroke: #200;
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

path {
	fill: none;
	stroke: #200;
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

#palette::before,
#ellarc::before { content: "XXX" }

*/